@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vars globais */
:root {
  /* off-white quente */
  --background: #f8f5f2;
  --foreground: #111111;
  --bottom-nav-h: 88px;
}

/* garante fundo global */
html, body {
  background-color: var(--background) !important;
  color: var(--foreground);
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Reserve espaço no final das páginas para o BottomNav fixo */
.with-bottom-nav {
  padding-bottom: calc(var(--bottom-nav-h) + env(safe-area-inset-bottom));
}

/* Oculta scrollbar em listas horizontais (usada nos chips) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
